
/*PORTFOLIO ==> Carousel */

@media (max-width: 768px) {

  #portfolio img {
    min-height: 436px !important;
    width:  100% !important;
    object-fit: cover !important;
    object-position: center !important;
  }

  .carousel-inner .carousel-item > div {
    -webkit-display: none;
    -moz-display: none;
    -ms-display: none;
    -o-display: none;
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    -webkit-display: block;
    -moz-display: block;
    -ms-display: block;
    -o-display: block;
    display: block;
  }
}

#portfolio img {
  min-height: 436px;
  width:  100%;
  object-fit: cover;
  object-position: center;
}

.carousel-indicators li {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;   
    background-color:  #D9560B !important;
  }

.carousel-control-prev,
.carousel-control-next {
    color:  #D9560B !important;
    font-size: 55px !important;
    font-weight: bold !important;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

.carousel-inner .carousel-item.left.active {
  -webkit-transform: translateX(-33%);
  -moz-transform: translateX(-33%);
  -ms-transform: translateX(-33%);
  -o-transform: translateX(-33%);
  transform: translateX(-33%);
}
.carousel-inner .carousel-item.right.active {
  -webkit-transform: translateX(33%);
  -moz-transform: translateX(33%);
  -ms-transform: translateX(33%);
  -o-transform: translateX(33%);
  transform: translateX(33%);
}

.carousel-inner .carousel-item.next {
  -webkit-transform: translateX(33%);
  -moz-transform: translateX(33%);
  -ms-transform: translateX(33%);
  -o-transform: translateX(33%);
  transform: translateX(33%);
}

.carousel-inner .carousel-item.prev {
  -webkit-transform: translateX(-33%);
  -moz-transform: translateX(-33%);
  -ms-transform: translateX(-33%);
  -o-transform: translateX(-33%);
  transform: translateX(-33%)
}

.carousel-inner .carousel-item.right,
.carousel-inner .carousel-item.left { 
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%);
}


/* Hover effect */
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 5px;    
  }

  .hovereffect a{
    color: #f3f3f3 !important;
  }

  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
  }
  
  .hovereffect:hover img {
    -webkit-filter: grayscale(1) blur(3px);
    -moz-filter: grayscale(1) blur(3px);
    -ms-filter: grayscale(1) blur(3px);
    -o-filter: grayscale(1) blur(3px);
    filter: grayscale(1) blur(3px);    
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  } 
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    border: 1px solid rgba(217, 86, 11, 0.3);
    border-radius: 3px;
    margin: 50px 0;
    background-color: rgba(217, 86, 11, 0.6);
    
  }
  
  .hovereffect a.info:hover {
    -webkit-box-shadow: 0 0 7px #f3f3f3;
    -moz-box-shadow: 0 0 7px #f3f3f3;
    -ms-box-shadow: 0 0 7px #f3f3f3;
    -o-box-shadow: 0 0 7px #f3f3f3;
    box-shadow: 0 0 7px #f3f3f3;
  }
  
  .hovereffect a.info {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -ms-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-filter: alpha(opacity=0);
    -moz-filter: alpha(opacity=0);
    -ms-filter: alpha(opacity=0);
    -o-filter: alpha(opacity=0);
    filter: alpha(opacity=0);
    color: #f3f3f3;
    text-transform: uppercase;
  }
  
  .hovereffect:hover a.info {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    -webkit-filter: alpha(opacity=100);
    -moz-filter: alpha(opacity=100);
    -ms-filter: alpha(opacity=100);
    -o-filter: alpha(opacity=100);
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

